/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
/* WEBFONTS!!! ================================================================================
==========================================================================================
==========================================================================================
 */

 @font-face {
     font-family: 'fortescue-regular';
     src: url('../webfonts/fortescue-regular.eot');
     src: url('../webfonts/fortescue-regular.eot?#iefix') format('embedded-opentype'),
          url('../webfonts/fortescue-regular.woff') format('woff'),
          url('../webfonts/fortescue-regular.woff2') format('woff2'),
          url('../webfonts/fortescue-regular.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;

 }

 @font-face {
    font-family: 'fortescue-semibold';
    src: url('../webfonts/fortescue-semibold.eot');
    src: url('../webfonts/fortescue-semibold.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/fortescue-semibold.woff') format('woff'),
         url('../webfonts/fortescue-semibold.woff2') format('woff2'),
         url('../webfonts/fortescue-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



/* STYLES ================================================================================
==========================================================================================
==========================================================================================
 */

 * {
   box-sizing: border-box;
 }

 body {
   height: 300vh;
   font-family: fortescue-regular, sans-serif;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
 }

 img {
   z-index: -10px;
   visibility: hidden;
 }

 /* fading images */

 .star {
   visibility: hidden;
 }

 .fadeIn {
   -webkit-animation: animat_show 0.8s;
   animation: animat_show 0.8s;
   visibility: visible !important;
 }

 @-webkit-keyframes animat_show{
   0%{opacity:0;}
   100%{opacity:1;}
 }

 /* end */


 .dscvr-logo {
   display: block;
   max-width: 178px;
   max-height: 111px;
   margin: 0 auto;
   z-index: 10;
   margin-top: 50vh;
 }

 h2 {
   font-family: 'fortescue-semibold', sans-serif;
   font-size: 36px;
   color: black;
   text-align:center;
   max-width: 350px;
   margin: 0 auto;
   line-height: 1.2;
   z-index: 10;
 }

 .type-1 {
   position: relative;
   top: 800px;
 }

 .type-2 {
   position: relative;
   top: 2000px;
 }

 .type-3 {
   position: relative;
   top: 3000px;
 }

 .hero-img {
   background-image: url('../img/hero-img.jpg');
   background-size: cover;
   width: 100%;
   height: 100vh;
   background-position: center bottom;
   margin-top: 3600px;
 }

 footer {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .footer-items .logo-icon {
   width: 46px;
   height: 46px;
   display: block;
   margin: 0 auto;
   margin-bottom: 32px;
 }

 .footer-items p {
   max-width: 400px;
   margin: 45px auto;
   text-align: center;
   line-height: 1.5;
 }

 /* Mailchimp styling */

 input[type=submit] {
   letter-spacing: 1px;
   text-transform: uppercase;
   color: black;
   background: white;
   padding: 22px 60px;
   border: none;
   border: 1px solid black;
   transition: 0.2s;
 }

 input[type=submit]:hover {
   background: black;
   color: white;
   cursor: pointer;
 }

 input[type=submit]:focus {
   outline: none;
 }

 input[type=email] {
   display: inline;
   padding: 22.5px 20px;
   width: 275px;
   border: 1px solid #DFDFDF;
   outline: none;
   transition: 0.2s;
 }

 input[type=email]:hover {
   background-color: #f8f8f8;
 }

 input[type=email]:focus {
   border: 1px solid #ABABAB;
   outline: none;
 }

 .clear, .mc-field-group {
   display: inline-block;
 }

 /* remove ugly AF apple mobile styling */

 textarea,
 input[type="text"],
 input[type="button"],
 input[type="email"],
 input[type="submit"] {
      -webkit-appearance: none;
      border-radius: 0;
 }

 .social-icons {
   margin: 0 auto;
   margin-top: 40px;

   display: flex;
   align-items: center;
   justify-content: center;
 }

 .social-icons img {
   margin: 20px;
 }



 /* bg images */

 .img-1 {
   position: absolute;
   top: 70px;
   left: 60px;
   height: 40vh;
 }

 .img-2 {
   position: absolute;
   top: 100px;
   right: 80px;
   height: 50vh;
 }

 .img-3 {
   position: absolute;
   top: 800px;
   left: 120px;
   height: 40vh;
 }

 .img-4 {
   position: absolute;
   top: 900px;
   right: 80px;
   height: 40vh;
 }

 .img-5 {
   position: absolute;
   top: 2300px;
   left: 110px;
   height: 50vh;
 }

 .img-6 {
   position: absolute;
   top: 2300px;
   right: 0px;
   height: 60vh;
 }

 .img-7 {
   position: absolute;
   top: 3300px;
   left: 0px;
   height: 60vh;
 }

 .img-8 {
   position: absolute;
   top: 4100px;
   right: 150px;
   height: 40vh;
 }

 .img-9 {
   position: absolute;
   top: 4200px;
   left: 0px;
   height: 60vh;
 }

 .img-10 {
   position: absolute;
   top: 5100px;
   right: 0px;
   height: 40vh;
 }

 /* loader */
 .pace {
   -webkit-pointer-events: none;
   pointer-events: none;

   -webkit-user-select: none;
   -moz-user-select: none;
   user-select: none;
 }

 .pace-inactive {
   display: none;
 }

 .pace .pace-progress {
   background: black;
   position: fixed;
   z-index: 2000;
   top: 0;
   right: 100%;
   width: 100%;
   height: 4px;
 }


 /* ======================== RESPONSIVE-NESS LOL ================= */

 @media (max-width: 770px) {
   .bg-images-1, .bg-images-2, .bg-images-3 {
     display: none;
   }
 }

 @media (max-width: 550px) {

   .clear, .mc-field-group {
     display: block;
   }

   input[type=email], input[type=submit] {
     width: 100%;
     margin: 5px;
   }

   .type-1 {
     position: relative;
     top: 400px;
   }

   .type-2 {
     position: relative;
     top: 800px;
   }

   .type-3 {
     position: relative;
     top: 1200px;
   }

   footer {
     padding: 20px;
   }

   .hero-img {
     margin-top: 1500px;
   }

   .dscvr-logo {
     margin-top: 40vh;
   }
 }
